.cuerpo{
    background-color: $fondoBody;
}
.imagen{
    width: 300px;
}
nav{
   

}
ul{
    margin: $ulMargin;
    list-style: $styleUl;
}
li{
    display: $liDisplay;
}
h2{
   align-items: $posicionH2;
   

}
