$ulMargin:0;
$ulpadding:0;
$styleUl: none;

//FONDO PARA LAS CARDS
$card1:pink;
//FONDOCOLOR BOTON
$colorBoton: #faa05a;

$fondoBody:blueviolet;
$fondoNav:rgb(175, 107, 240);

$fondoh2:red;
$posicionH2: center;

$liDisplay: inline-block;



$porteParrafo:14px;
$colorParrafos:blueviolet;



